<h1 class="text-center">Парсер сайтов</h1>

<%= link_to 'www.unn.com.ua', unn_path %><br>
<%= link_to 'articles-online.ru', articles_online_path %><br>
<%= link_to 'surfingbird.ru', surfingbird_path %><br>
<%= link_to 'thenextweb.com', tnw_path %><br>
