<div class="text-center mb-3 mt-3">
  <%= link_to 'Home', root_path, class: "btn btn-info" %>
  <%= link_to 'Refresh', parser_tnw_path, class: "btn btn-success" %>
</div>

<%= render 'articles', articles: @tnw_articles %>
