/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.modal-dialog{
  max-width: 55%;
}
.style{
  border: 1px solid lightgray;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px lightgrey;
  margin-bottom: 15px;
}

.index-list-group-item{
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 20%;
  color: #495057;
  text-align: inherit;
  border-radius: 5px;
  &:hover{
    text-decoration: none;
  }
}
